$font-size-s: 14px;
$font-size-m: 24px;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight: 600;
$backcolor: red;
$font-roboto: 'Roboto', sans-serif;
$font-san-serif: 'Source Sans Pro', sans-serif;
$main-color: #f7fafc;
$title-color: #2d333a;
$invalid-color: #EE4B2B;
$invalid-back-color: #FFDFDF;
$input-box-border: #e2e8f0;
$color-white: #fff;
$color-blue: #5a67d8;