$font-sans-pro:'Source Sans Pro', sans-serif;
$font-size-s:14px;
$font-size-m:24px;
$font-weight-400: 400;
$font-weight-500: 500;
$mainback-color: #f7fafc;
$color-white: #fff;
$color-black: #09090a;
$color-blue: #5867D8;
$border-radius-4:4px;
$border-radius-10:10px;