<div class="main">
  <div class="container">
    <img class="logo" alt="Workflow" src="assets/images/task Image.jpeg">

    <h2 class="title">Forgot Password</h2>
    <form [formGroup]="form1">

      <div class="content">
        <mat-form-field class="email" appearance="outline">
          <input class="input-box-email" matInput placeholder="Email address" type="email" formControlName="emai"
            required>
            <mat-error>Please Fill Email Format</mat-error>
        </mat-form-field>

        <button class="submit-btn" type="submit" mat-raised-button color="primary">Reset Password</button>
      </div>

    </form>
  </div>
</div>

